<div class="card flex justify-center">
    <p-virtualscroller
      [items]="items"
      [itemSize]="50"
      [lazy]="true" 
      (onLazyLoad)="loadItems($event)">
      <ng-template pTemplate="item" let-item let-options="options">
        <div
          class="flex items-center p-2"
          [ngClass]="{ 'bg-surface-100 dark:bg-surface-700': options.odd }"
          style="height: 50px;">
          {{ item }}
        </div>
      </ng-template>
      <ng-template pTemplate="loader">
        <div class="flex items-center justify-center p-2" style="height: 50px;">
          Loading...
        </div>
      </ng-template>
    </p-virtualscroller>
  </div>
  