

.dashboard-container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Optional: Add background color for the body */
  }
  
  .sidebar {
    width: 250px;
    padding: 20px;
  }
  
  .logo img {
    width: 151px;
    height: 29px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    display: flex;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Added color transition for hover */
  }
  
  .menu li:hover {
    color: var(--primary-color);
  }
  
  .menu li i {
    margin-right: 10px;
  
    color: var(--primary-color);
  
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Optional: Add padding inside the main content */
  }
  
  .top-bar {
    display: flex;
    justify-content: center; /* Space out the elements */
    align-items: center;
    margin-bottom: 20px; /* Optional: Adds space below the top bar */
    width: 100%;
  }
  
  .search-container {
    position: relative;
    width: 100%;
    max-width: 762px; /* Max width for large screens */
    margin-right: 20px; /* Space between button and avatar */
      
  }
  
  .search-input {
    width: 100%;
    padding: 16px 32px 16px 32px; /* Adjust left and right padding to make space for the icon */
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; /* Optional: Add border for input */
    font-size: 16px; /* Adjust font size for better readability */
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--primary-color); /* Icon color */
    font-size: 1.5rem; /* Adjust size if necessary */
  }
  
  .start-quiz-button {
    padding: 16px 32px 16px 32px;
   
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 20px; /* Space between button and avatar */
  }
  
  .start-quiz-button:hover {
    background-color: var(--primary-color-hover);
  }
  
  .user-avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px; /* Ensure the avatar has a consistent size */
  }